@page "/ParentComponent"

<h1 class="text-danger">Parent Child Component</h1>

<CascadingValue Value="@messageForGrandChild" Name="MessageFromGrandParent">
    <CascadingValue Value="@LuckyNumber" Name="GrandParentsLuckyNumber">
        <ChildComponent OnClickBtnMethod="ShowMessage" Title="This title is passed as a parameter from parent component">
            <ChildContent>Render Fragment from parent</ChildContent>
            <SecondChildContent>Render Another Fragment from parent</SecondChildContent>
        </ChildComponent>
    </CascadingValue>
 </CascadingValue>

@*<AnotherChildComponent InputAttributes="@InputAttributesFromParent"></AnotherChildComponent>*@
<AnotherChildComponent placeholder="Placeholder from parent"></AnotherChildComponent>

@*<ChildComponent Title="This is second child component">
    
</ChildComponent>*@

<p><b>@messageText</b></p>

@code {
    private string messageForGrandChild = "This is a message from grand parent";
    public int LuckyNumber { get; set; } = 7;

    @*[Parameter]
    public Dictionary<string, object> InputAttributesFromParent { get; set; } = new Dictionary<string, object>()
    {
        { "placeholder" , "Enter the Room Name from Parent"},
        { "required", "false"},
        { "maxlength", "20" }
    };*@

    private string messageText = "";

    private void ShowMessage(MouseEventArgs e)
    {
        messageText = "Text from parent from callback";
    }
}
