<div>
    <div class="alert alert-info">@Title</div>
    <div class="alert alert-success">
        @if (ChildContent == null)
        {
            <span>Hello, this is default render fragment</span>
        }
        else
        {
            <span>@ChildContent</span>
        }
    </div>
    <div class="alert alert-success">
        @if (SecondChildContent == null)
        {
            <span>Hello, this is default render fragment</span>
        }
        else
        {
            <span>@SecondChildContent</span>
        }
    </div>
    <button class="btn btn-danger" @onclick="OnClickBtnMethod">Button to be clicked!</button>
</div>

@code {
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public RenderFragment SecondChildContent { get; set; }
    [Parameter]
    public EventCallback<MouseEventArgs> OnClickBtnMethod { get; set; }
}
